:root {
  --grey: #9b9b9b;
  --white: #ffffff;
  --black: #000000;
  --red: #d0021b;
  --orange: #ff6100;
  --knack-sec: #7b94cf;
  --knack-main: #1f40e6;
  --knack-red: #f14a59;
  --dark: #0f1721;
  --sellshipGrey: #f6f6f9;
  --box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.05);
}
